body {
  background: #ccc;
  font-size: 1.2em;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#content {
  overflow: auto;
  position: relative;
}

.page {
  clear: both;
  width: 100%;
  display: block;
}

/* These aren't actually videos anymore, oh well */
.vid {
  background-color: rgba(60, 60, 60, 0.6);
  padding: 1.4em;
  text-align: center;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.1;
  max-width: 30%;
}

.vid audio {
  margin-top: 15px;
  display: inline-block;
}

.left, #quote-4 .jsgif {
  float: left;
  text-align: left;
  margin-left: 15%;
}

.right {
  float: right;
  text-align: right;
  margin-right: 15%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  display: block;
  text-align: center;
  background-color: rgba(60, 60, 60, 0.6);
  padding: 2em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

.stacked {
  position: absolute;
}

.stacked-parent {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#alphabet {
  font-size: 160px;
  font-family: 'Annie Use Your Telescope', cursive;
  margin-left: 20px;
}

#red-x {
  opacity: 0;
}

#quote-1-graphic {
  margin-left: 30%;
  margin-top: 100px;
}

#quote-2-vid {
  margin-left: 12%;
}

#text-scrambling {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
  width: 30%;
  margin-right: 12%;
  background-color: rgba(34, 73, 45, 0.6);
  padding: 20px;
}

#quote-3-vid {
  margin-bottom: 2em;
  max-width: 50%;
}

#quote-3 {
  text-align: center;
}

#creepy-text, #writing-text {
  /* Weird sizing fix since font-family apparently affects Vara sizing */
  font-family: Arial, Helvetica, sans-serif;
}

/* Animation for power cycle breaking */

@keyframes cycle-left {
  from {
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg) scale(1);
  }
  to {
    margin-left: -8%;
    margin-top: 8%;
    transform: rotate(-15deg) scale(0.8);
  }
}

@keyframes cycle-right {
  from {
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg) scale(1);
  }
  to {
    margin-left: 8%;
    margin-top: -8%;
    transform: rotate(-10deg) scale(0.8);
  }
}

@keyframes cycle-centre {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.75);
    opacity: 0.75;
  }
}

.animate-cycle-left-fwd, .animate-cycle-left-rev {
  animation-name: cycle-left;
}

.animate-cycle-right-fwd, .animate-cycle-right-rev {
  animation-name: cycle-right;
}

.animate-cycle-centre-fwd, .animate-cycle-centre-rev {
  animation-name: cycle-centre;
}

.animate-cycle-left-fwd, .animate-cycle-right-fwd, .animate-cycle-centre-fwd {
  animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.animate-cycle-left-rev, .animate-cycle-right-rev, .animate-cycle-centre-rev {
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.animate-cycle-left-fwd, .animate-cycle-left-rev,
.animate-cycle-right-fwd, .animate-cycle-right-rev,
.animate-cycle-centre-fwd, .animate-cycle-centre-rev {
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

#writing-text {
  margin-right: 30%;
}

#paper {
  width: 30%;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
}

#handwriting {
  z-index: 1000;
  padding-left: 50px;
}

@keyframes quote-6-transition {
  from {
    background-image: url('./quote-6-img-1.jpg');
    -webkit-filter: none;
    filter: none;
  }
  to {
    background-image: url('./quote-6-img-2.jpg');
    -webkit-filter: brightness(0.5) sepia(50%);
    filter: brightness(0.5) sepia(50%);
  }
}

.transition-fwd, .transition-rev {
  animation-name: quote-6-transition;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.transition-rev {
  animation-direction: reverse;
}

#reveal-thesis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orangered;
  padding: 10px 32px;
  color: white;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}

#thesis-text {
  width: 80%;
  text-align: center;
  padding: 0 10%;
  display: none;
  color: black;
  font-family: 'Aref Ruqaa', serif;
  font-size: 50px;
  line-height: 1.6;
}
